z_*.txt
mask_*.txt
path_*.csv
param_*_s3.txt
param_*_h2.txt
param_*_s3h2.txt
param_*_d0.txt
encflow
encflow_mpi
rw_width.txt
width_width.txt
param_width_s3.txt
param_width_noadv.txt
param_width_sect*.txt
param_diag_s3.txt
rw_diagw*.txt
width_diagw*.txt
param_diagw*_s3.txt
param_width10*.txt
param_diagw4*.txt
param_zigzagw_s3.txt
rw_width*.txt
width_width*.txt
z_zigzagw.txt
rw_zigzagw.txt
width_zigzagw.txt
rw_lat*.txt
mask_lat*.txt
rw_wave2.txt
